body {
    background-color: rgb(#F2CEDA);
    color: rgb(#003875);
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(250, 87, 114);
    color: white;
    text-align: center;
    padding: 30;
}

h1 {
    font-size: 36px;
}

h2 {
    color: rgb(0, 255, 200);
}

p {
    font-size: 18px;
    line-height: 1.6;
}